@page "/unreturnedcarhires"
@inject UI.Services.CarHiresService carHireService
@inject AuthenticationStateProvider authentificationStateProvider
@inject  IStringLocalizer<UnreturnedCarHires> L
@attribute [Authorize]
<h3>@L["Unreturned car"]</h3>
<table class="table table-condensed table-striped table-bordered">
    <tr>
        <th>@L["Car"]</th>
        <th>@L["Begin date"]</th>
        <th>@L["Expected end date"]</th>
        <th>@L["Expected price"]</th>
    <th></th>
    </tr>
    @foreach (var carHire in carHires)
    {
        <tr>
            <td><a class="btn btn-primary" href="/cars/@carHire.carId">@L["Car"]</a></td>
            <td>@carHire.beginDate</td>
            <td>@carHire.expectedEndDate</td>
            <td>@carHire.expectedPrice</td>
            <td><a class="btn btn-primary" href="/carreturn/@carHire.id">@L["Return"]</a></td>
</tr>
    }
</table>
@code {
    List<CarHireViewModel> carHires { get; set; } = new List<CarHireViewModel>();
    protected override async Task OnInitializedAsync()
    {
        var authState = await authentificationStateProvider.GetAuthenticationStateAsync();
        var clientId = authState.User.Claims.First(x => x.Type == "clientId").Value;

        carHires = await carHireService.GetUnreturnedCarHiresByClientIdAsync(clientId);
    }
}
