@inject UI.Services.CarTypeService carTypeService
@inject NavigationManager navigationManager
@inject IStringLocalizer<AddCarType> L

@attribute [Authorize(Roles = "admin")]
@page "/cartypes/add"

<h3>@L["Add car type"]</h3>
<hr />

<EditForm class="d-flex flex-column w-25" Model="@CarType" OnValidSubmit="@AddAsync">

    <FluentValidator />
    <ValidationSummary />
    <ErrorSummary Errors="Errors" />

    <MatTextField @bind-Value="@CarType.Type" Label="@L["Car type"]" />

    <button type="submit" class="btn btn-sm btn-primary">@L["Add"]</button>

</EditForm>

@code {
    CarTypeViewModel CarType { get; set; }

    IEnumerable<string> Errors { get; set; }

    protected override void OnInitialized()
    {
        CarType = new CarTypeViewModel();
        Errors = new string[0];
    }

    private async Task AddAsync()
    {
        var result = await carTypeService.AddCarTypeAsync(CarType);

        if (result.IsSuccessful)
        {
            navigationManager.NavigateTo("/cartypes");
        }
        else
        {
            Errors = result.Errors;
        }
    }
}
