@inject UI.Services.CarTypeService carTypeService
@inject IStringLocalizer<CarTypesPage> L

@attribute [Authorize(Roles = "admin")]
@page "/cartypes"

<h3>@L["Car types"]</h3>
<hr />

<table class="table table-condensed table-striped table-bordered">

    <tr>
        <th>@L["Id"]</th>
        <th>@L["Type"]</th>
        <th></th>
    </tr>

    @foreach (var carType in CarTypes)
    {
        <tr>
            <td>@carType.Id</td>
            <td>@carType.Type</td>
            <td>
                <a href="/cartypes/update/@carType.Id" class="btn btn-sm btn-primary">@L["Edit"]</a>
                <a href="/cartypes/delete/@carType.Id" class="btn btn-sm btn-primary">@L["Delete"]</a>
            </td>
        </tr>
    }

</table>

<a href="/cartypes/add" class="btn btn-primary">@L["Add"]</a>

@code {
    IEnumerable<CarTypeViewModel> CarTypes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CarTypes = new CarTypeViewModel[0];
        CarTypes = await carTypeService.GetCarTypesAsync();
    }
}
