@page "/carstates/update/{id}"
@inject UI.Services.CarStateService carStateService
@inject NavigationManager  navigationManager
@attribute [Authorize(Roles = "admin")]
@inject IStringLocalizer<EditCarState> L
<h3>@L["Edit car state"]</h3>
<hr />
<EditForm Model="@carState" OnValidSubmit="@Edit">
    <FluentValidator></FluentValidator>
    <ValidationSummary />
    <p>@Error</p>
    <p>
        <MatTextField @bind-Value="@carState.state" Label="@L["Car state"]"></MatTextField>
    </p>
    <button state="submit" class="btn btn-sm btn-primary">@L["Edit"]</button>
</EditForm>

@attribute [Authorize(Roles = "admin")]
@code {
    [Parameter]
    public string Id { get; set; }

    CarStateViewModel carState { get; set; } = new CarStateViewModel();

    public string Error { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        int intId = Int32.Parse(Id);
        carState.state = await carStateService.GetCarStateByIdAsync(intId);
        carState.id = intId;
    }
    public async Task Edit()
    {
        Error = "";
        var result = await carStateService.UpdateCarStateAsync(carState);
        if (result.IsSuccessStatusCode)
            navigationManager.NavigateTo("/carstates");
        else
            Error = result.StatusCode.ToString();

    }

}
