@inject IStringLocalizer<LoginDisplay> L
<AuthorizeView>
    <Authorized>
        @L["Hello"], @context.User.Identity.Name!
        <a href="/myaccount">@L["My account"]</a>
        <a href="/logout">@L["Log out"]</a>
    </Authorized>
    <NotAuthorized>        
        <a href="/register">@L["Register"]</a>
        <a href="/login">@L["Login"]</a>
    </NotAuthorized>
</AuthorizeView>
