@inject UI.Services.ClientTypeService clientTypeService
@inject NavigationManager navigationManager
@inject IStringLocalizer<AddClientType> L

@attribute [Authorize(Roles = "admin")]
@page "/clienttypes/add"

<h3>@L["Add client type"]</h3>
<hr />

<EditForm class="d-flex flex-column w-25" Model="@ClientType" OnValidSubmit="@AddAsync">

    <FluentValidator></FluentValidator>
    <ValidationSummary />
    <ErrorSummary Errors="Errors" />

    <MatTextField @bind-Value="@ClientType.Type" Label="@L["Client type"]"></MatTextField>

    <button type="submit" class="btn btn-sm btn-primary">@L["Add"]</button>

</EditForm>

@code {
    private ClientTypeViewModel ClientType { get; set; }

    private IEnumerable<string> Errors { get; set; }

    protected override void OnInitialized()
    {
        ClientType = new ClientTypeViewModel();
        Errors = new string[0];
    }

    private async Task AddAsync()
    {
        var result = await clientTypeService.AddClientTypeAsync(ClientType);

        if (result.IsSuccessful)
        {
            navigationManager.NavigateTo("/clienttypes");
        }
        else
        {
            Errors = result.Errors;
        }
    }
}
