@page "/clienttypes/add"
@inject UI.Services.ClientTypeService clientTypeService
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "admin")]
@inject IStringLocalizer<AddClientType> L
<h3>@L["Add client type"]</h3>
<hr />
<EditForm Model="@clientType" OnValidSubmit="@Add">
    <FluentValidator></FluentValidator>
    <ValidationSummary />
    <p>@Error</p>
    <p>
        <MatTextField @bind-Value="@clientType.Type" Label="@L["Client type"]"></MatTextField>
    </p>
    <button type="submit" class="btn btn-sm btn-primary">@L["Add"]</button>
</EditForm>
@code {
    ClientTypeViewModel clientType { get; set; } = new ClientTypeViewModel();
    string Error { get; set; } = "";
    protected async Task Add()
    {
        Error = "";
        var result = await clientTypeService.AddClientTypeAsync(clientType);
        if (result.IsSuccessStatusCode)
            navigationManager.NavigateTo("/clienttypes");
        else
            Error = result.StatusCode.ToString();
    }

}
