@inject UI.Services.ClientTypeService clientTypeService
@inject IStringLocalizer<ClientTypesPage> L

@attribute [Authorize(Roles = "admin")]
@page "/clienttypes"

<h3>@L["Client types"]</h3>
<hr />

<table class="table table-condensed table-striped table-bordered">

    <tr>
        <th>Id</th>
        <th>@L["Type"]</th>
        <th></th>
    </tr>

    @foreach (var clientType in ClientTypes)
    {
        <tr>
            <td>@clientType.Id</td>
            <td>@clientType.Type</td>
            <td>
                <a href="/clienttypes/update/@clientType.Id" class="btn btn-sm btn-primary">@L["Edit"]</a>
                <a href="/clienttypes/delete/@clientType.Id" class="btn btn-sm btn-primary">@L["Delete"]</a>
            </td>
        </tr>
    }

</table>

<a href="/clienttypes/add" class="btn btn-primary">@L["Add"]</a>

@code {
    private IEnumerable<ClientTypeViewModel> ClientTypes { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ClientTypes = new ClientTypeViewModel[0];
        ClientTypes = await clientTypeService.GetClientTypesAsync();
    }
}
