@inject UI.Services.ClientTypeService clientTypeService
@inject NavigationManager  navigationManager
@inject IStringLocalizer<EditClientType> L

@attribute [Authorize(Roles = "admin")]
@page "/clienttypes/update/{id}"

<h3>@L["Edit client type"]</h3>
<hr />

<EditForm class="d-flex flex-column w-25" Model="@clientType" OnValidSubmit="@EditAsync">

    <FluentValidator />
    <ValidationSummary />
    <ErrorSummary Errors="Errors" />

    <MatTextField @bind-Value="@clientType.Type" Label="@L["Client type"]" />

    <button type="submit" class="btn btn-sm btn-primary">@L["Edit"]</button>

</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    private ClientTypeViewModel clientType { get; set; }

    private IEnumerable<string> Errors { get; set; }

    protected override async Task OnInitializedAsync()
    {
        clientType = new ClientTypeViewModel();
        Errors = new string[0];

        int intId = Int32.Parse(Id);
        clientType.Type = await clientTypeService.GetClientTypeByIdAsync(intId);
        clientType.Id = intId;
    }

    private async Task EditAsync()
    {
        var result = await clientTypeService.UpdateClientTypeAsync(clientType);

        if (result.IsSuccessful)
        {
            navigationManager.NavigateTo("/clienttypes");
        }
        else
        {
            Errors = result.Errors;
        }
    }
}
